:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cabezal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.cabezal hr {
  border: 1px solid black;
  width: 75%;
}
.navegador {
  background-color: #242424;
}
.bordes {
  border: 1px solid white;
  border-radius: 10px;
  height: 20px;
  padding-bottom: 40px;
  background-color: #242424;
}
.sep {
  gap: 10px;
}
.tot {
  border: 1px solid blue;
  border-radius: 10px;
  padding: 10px;
  background-color: #242424;
}
.separador {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
}
.pie {
  background-color: #242424;
  color: white;
  padding-top: 10px;
}

.sepbu {
  margin-left: 10px;
  margin-right: 10px;
}
.carro {
  height: 250px;
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.carro img {
  width: 18rem;
  margin-right: 20px;
  border-radius: 10%;
}
.carrito {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.carrito button {
  margin: 5px;
  width: 50px;
}
.modCant {
  display: flex;
  flex-direction: row;
}
.modCant p {
  margin-top: 10px;
}
h3 {
  padding: 5px;
}
